/* Default CSS Code */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:focus * {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
button {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

a {
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: #000;
}

input {
    width: 100%;
}

img,
svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* 

font-family: "Realce";
font-family: "Mentimun";
font-family: "Jost", sans-serif;

*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 80px;
    line-height: 1;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: "Realce";
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    font-family: "Mentimun";
    font-weight: 400;
}

.goody-font--20 {
    font-size: 20px;
    line-height: 1;
}

.goody-font--24 {
    font-size: 24px;
    line-height: 1.4;
}

.goody-font--32 {
    font-size: 32px;
    line-height: 1;
}

.goody-font--40 {
    font-size: 40px;
    line-height: 1;
}

.goody-font--20 {
    font-size: 20px;
    line-height: 1;
}

.goody-font--80 {
    font-size: 80px;
    line-height: 1;
}

.goody-font--140 {
    font-size: 140px;
    line-height: 1;
}

.goody-subtitle {
    font-size: 32px;
    line-height: 1;
    color: #e65222;
}

/* Bootstrap Container */
@media (min-width: 1600px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1544px;
    }
}

body {
    font-family: "Jost", sans-serif;
    background: #ffffe5;
    color: #000000;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
}

section {
    scroll-margin-top: 60px;
}

/* Default CSS Code */

/* Reusable Code */

.goody-cards-grid {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px;
}

.goody-shadow {
    border: 2px solid #000;
    box-shadow: 4px 4px 0 0 #000;
}

.goody-shadow--sm {
    border: 2px solid #000;
    box-shadow: 2px 2px 0 0 #000;
}

.goody-shadow--white {
    border: 2px solid #fff;
    box-shadow: 4px 4px 0 0 #fff;
}

.goody-btns {
    display: flex;
    align-items: center;
    gap: 40px;
}

.goody-btn {
    font-family: "Jost", sans-serif;
    min-width: 220px;
    width: fit-content;
    padding: 12px 40px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 500;
    background: #e65222;
    color: #fff;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    border: 2px solid #000;
    box-shadow: 2px 2px 0 0 #000;
}

.goody-btn img {
    width: 24px;
    height: 24px;
}

.goody-btn:hover {
    background: #d73c08;
}

.goody-btn--yellow {
    background: #ffff00;
    color: #000;
}

.goody-btn--yellow:hover {
    background: #e5e500;
}

.goody-btn--white {
    background: #fff;
    color: #e65222;
}

.goody-btn--white:hover {
    background: #ffffe5;
}

.goody-content-center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goody-section-content h2 {
    margin-top: 24px;
    text-transform: uppercase;
}

.goody-section-content p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.goody-section-content .goody-btn {
    margin-top: 24px;
}

.goody-section-content__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 0;
}

.goody-section-content__list-item {
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 40px;
    background: #ffffe5;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.goody-section-content__list-item img {
    width: 24px;
    height: 24px;
}

.goody-section-content__list-item span {
    flex: 1;
}

.goody-section-content__list-item a:hover {
    text-decoration: underline;
}

.goody-round-bg-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goody-round-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.goody-round-bg-parent .container {
    position: relative;
    z-index: 20;
}

.goody-section-content--white h2,
.goody-section-content--white h3,
.goody-section-content--white p {
    color: #fff;
}

/* Reusable Code */

/* Header Area */

.goody-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 24px;
}

.goody-header .navbar {
    background: #fff;
    padding: 16px 40px;
    border: 2px solid #000;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.goody-header .navbar-brand {
    width: fit-content;
    height: 64px;
}

.goody-header .navbar-nav {
    gap: 24px;
}

.goody-header .nav-link {
    font-size: 20px;
    padding: 0 !important;
    color: #000;
}

.goody-header .nav-link:hover {
    color: #ef3e33;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #ef3e33;
}

/* Header Area */

/* Hero Area */

.goody-hero {
    overflow: hidden;
    padding-top: 124px;
}

.goody-hero-main {
    position: relative;
    padding-top: 86px;
    padding-bottom: 250px;
}

.goody-hero-main .container {
    position: relative;
    z-index: 30;
}

.goody-hero__image {
    position: absolute;
    z-index: 10;
}

.goody-hero__image--left {
    bottom: -150px;
    left: -468px;
    width: fit-content;
    height: 720px;
}

.goody-hero__image--right {
    bottom: -227px;
    right: -380px;
    width: 1020px;
    height: 850px;
}

.goody-hero__content {
    text-align: center;
    max-width: 1260px;
}

.goody-hero__logo {
    width: 100%;
    height: 220px;
}

.goody-hero h3 {
    margin-top: 24px;
}

.goody-hero h1 {
    text-transform: uppercase;
    margin-top: 24px;
}

.goody-hero h1 span {
    display: block;
}

.goody-hero-main p {
    margin-top: 6px;
    max-width: 820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goody-hero .goody-btns {
    margin-top: 24px;
    justify-content: center;
}

/* Hero Area */

/* Goody Opening */

.goody-opening {
    padding: 220px 0;
    min-height: 830px;
}

.goody-opening .container {
    position: relative;
    z-index: 20;
}

.goody-opening__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    background: #fff;
    color: #000;
    padding: 24px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.goody-opening__card--yellow {
    background: #ffff00;
}

.goody-opening__card--black {
    background: #000;
    color: #fff;
}

.goody-opening__card--yellow-mute {
    background: #ffffe5;
}

.goody-opening__card h4 {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.goody-opening__card-descs p {
    letter-spacing: -1px;
}

.goody-opening__lines p {
    margin-bottom: 16px;
}

.goody-opening__lines p:last-of-type {
    margin-bottom: 0;
}

.goody-opening__phone a {
    color: #fff;
}

.goody-opening__phone a:hover {
    text-decoration: underline;
}

.goody-opening__card--black .goody-btn {
    border: 2px solid #fff;
    box-shadow: 2px 2px 0 0 #fff;
}

/* Goody Opening */

/* Featured Food */
.goody-featured {
    padding: 140px 0;
}

.goody-section-content--featured p {
    max-width: 1000px;
}

.goody-food-cards {
    margin-top: 80px;
}

.goody-food-card {
    height: 100%;
}

.goody-food-card__image {
    width: 100%;
    height: auto;
    aspect-ratio: 740/550;
    object-fit: cover;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.goody-food-card__content {
    padding-top: 32px;
}

.goody-food-card__content p {
    margin-top: 16px;
}

.goody-food-card__content .goody-btn {
    margin-top: 24px;
}

/* Featured Food */

/* Story Area */
.goody-story {
    position: relative;
    min-height: 1218px;
    padding: 200px 0;
    overflow: hidden;
}

.goody-story__layout {
    display: flex;
    align-items: flex-start;
    gap: 90px;
}

.goody-story__content {
    flex: 1;
}

.goody-story__images {
    width: 100%;
    max-width: 650px;
}

.goody-story__images {
    position: relative;
}

.goody-story__image {
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.goody-story__image1 {
    top: -60px;
    left: 0;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

.goody-story__image2 {
    top: 225px;
    right: -108px;
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}

/* Story Area */

/* Cooking Area */

.goody-cooking {
    padding: 140px 0;
}

.goody-section-content--cooking p {
    max-width: 740px;
}

.goody-cooking .goody-section-content h2 {
    margin-top: 0;
}

.goody-marquee-area {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.goody-marquee {
    overflow: hidden;
    width: 100%;
}

.goody-marquee-track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: marquee 25s linear infinite;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-animation: marquee 25s linear infinite;
}

.goody-marquee-track--reverse {
    animation-direction: reverse;
}

.goody-marquee:hover .goody-marquee-track {
    animation-play-state: paused;
}

.goody-marquee-item {
    flex: 0 0 auto;
    width: 480px;
    height: 360px;
}

.goody-marquee-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 40px;
}

@keyframes marquee {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(calc(-50% - 20px), 0, 0);
    }
}

/* Cooking Area */

/* Media Area */

.goody-media {
    min-height: 1384px;
    padding: 200px 0;
}

.goody-section-content--media p {
    max-width: 1000px;
}

.goody-media__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1520/650;
    object-fit: cover;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.goody-youtube-video {
    margin-top: 80px;
    background: #000;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1520/650;
    overflow: hidden;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.goody-youtube-thumbnail,
.goody-youtube-video iframe {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.goody-youtube-play-btn {
    position: absolute;
    background: #fff;
    color: #e65222;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.goody-youtube-play-btn:hover {
    background: #f5f5f5;
}

.goody-youtube-play-btn svg {
    width: 80px;
    height: 80px;
}

/* Media Area */

/* Visit Area */

.goody-visit {
    padding-top: 140px;
    padding-bottom: 40px;
}

.goody-visit__layout {
    display: flex;
    align-items: center;
    gap: 90px;
}

.goody-visit__map {
    width: 100%;
    max-width: 780px;
}

.goody-visit__content {
    flex: 1;
}

.goody-visit--list .goody-section-content__list-item {
    background: #fff;
}

.goody-visit__map {
    position: relative;
    width: 100%;
    height: 872px;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}

.goody-visit__map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

.goody-visit .goody-btn {
    margin-top: 0;
}

.goody-visit .goody-btns {
    margin-top: 24px;
}

/* Visit Area */

/* Serve Area */
.goody-serve {
    min-height: 716px;
    padding: 200px 0;
    overflow: hidden;
    top: 100px;
}

.goody-section-content--serve p {
    max-width: 1000px;
}

.goody-serve .goody-btn {
    margin-top: 0;
}

.goody-serve .goody-btns {
    justify-content: center;
    margin-top: 24px;
}

.goody-serve__image {
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.goody-serve__image--left {
    left: -460px;
    width: 868px;
    height: 651px;
}

.goody-serve__image--right {
    right: -150px;
    width: 544px;
    height: 482px;
}

/* Serve Area */

/* Footer Area */
.goody-footer {
    padding-top: 220px;
    padding-bottom: 32px;
    background: #000;
    color: #fff;
}

.goody-footer__content {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 80px;
}

.goody-footer__logo {
    display: block;
    width: fit-content;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.goody-footer__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.goody-footer__item h2 {
    color: #fff;
    margin-bottom: 26px;
}

.goody-footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #fff;
}

.goody-footer__links li {
    display: flex;
}

.goody-footer__link {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.goody-footer__link:hover {
    color: #e65222;
}

.goody-footer__contact-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.goody-footer__contact-item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
}

.goody-footer__contact-item img {
    width: 24px;
    height: 24px;
}

.goody-footer__contact-item span {
    flex: 1;
    text-align: left;
}

a.goody-footer__contact-item:hover {
    text-decoration: underline;
}

.goody-footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 32px;
    border-top: 1px solid #e65222;
}

.goody-footer__social-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Footer Area */
