@media (max-width: 1599.98px) {
    body {
        font-size: 20px;
        line-height: 1.4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 70px;
        line-height: 1;
    }

    .goody-font--20 {
        font-size: 18px;
    }

    .goody-font--32 {
        font-size: 28px;
    }

    .goody-font--40 {
        font-size: 32px;
    }

    .goody-font--140 {
        font-size: 100px;
    }

    .goody-cards-grid {
        --bs-gutter-x: 32px;
        --bs-gutter-y: 32px;
    }

    .goody-hero__logo {
        height: 160px;
    }

    .goody-subtitle {
        font-size: 28px;
    }

    .goody-hero-main {
        position: relative;
        padding-top: 80px;
        padding-bottom: 220px;
    }

    .goody-hero-main p {
        font-size: 22px;
    }

    .goody-hero__image--left {
        bottom: -100px;
        left: -200px;
        width: fit-content;
        height: 450px;
    }

    .goody-hero__image--right {
        bottom: -180px;
        right: -180px;
        width: fit-content;
        height: 530px;
    }

    .goody-header .navbar-brand {
        width: 87px;
        height: 56px;
    }

    .goody-header .nav-link {
        font-size: 18px;
    }

    .goody-btn {
        padding: 12px 30px;
        height: 56px;
        gap: 12px;
        font-size: 18px;
        min-width: 200px;
    }

    .goody-btn img {
        width: 22px;
        height: 22px;
    }

    .goody-header .navbar {
        padding: 12px 20px;
    }

    .goody-opening {
        padding: 200px 0;
        min-height: 730px;
    }

    .goody-section-content--featured p {
        max-width: 800px;
    }

    .goody-food-cards {
        margin-top: 60px;
    }

    .goody-featured {
        padding: 100px 0;
    }

    .goody-story__image {
        width: 500px;
        height: 500px;
    }

    .goody-story__images {
        max-width: 550px;
        height: 700px;
    }

    .goody-story__layout {
        align-items: center;
    }

    .goody-story__image1 {
        top: -60px;
    }

    .goody-story__image2 {
        top: 260px;
        right: 0;
    }

    .goody-story {
        min-height: auto;
        padding: 160px 0;
    }

    .goody-cooking {
        padding: 100px 0;
    }

    .goody-marquee-area {
        margin-top: 60px;
        gap: 32px;
    }

    .goody-marquee-track {
        gap: 32px;
    }

    .goody-marquee-item {
        width: 380px;
        height: 260px;
    }

    .goody-media {
        min-height: auto;
        padding: 160px 0;
    }

    .goody-youtube-video {
        margin-top: 60px;
        aspect-ratio: 16/9;
    }

    .goody-youtube-play-btn {
        width: 100px;
        height: 100px;
    }

    .goody-youtube-play-btn svg {
        width: 70px;
        height: 70px;
    }

    .goody-visit__layout {
        flex-direction: column-reverse;
    }

    .goody-visit__content {
        width: 100%;
    }

    .goody-visit__map {
        max-width: 100%;
    }

    .goody-visit__layout {
        gap: 70px;
    }

    .goody-visit {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .goody-visit__map {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .goody-section-content__list-item {
        padding: 16px 40px;
    }

    .goody-serve__image--left {
        left: -370px;
        width: fit-content;
        height: 500px;
    }

    .goody-serve__image--right {
        right: -126px;
        width: fit-content;
        height: 382px;
    }

    .goody-section-content--serve p {
        max-width: 600px;
    }

    .goody-serve {
        min-height: auto;
        padding: 170px 0;
    }

    .goody-footer__logo {
        height: 150px;
    }

    .goody-footer__link {
        font-size: 18px;
    }

    .goody-footer__item h2 {
        color: #fff;
        margin-bottom: 20px;
    }

    .goody-hero {
        padding-top: 108px;
    }
}

@media (max-width: 1199.98px) {
    .goody-hero__logo {
        height: 140px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 60px;
        line-height: 1;
    }

    .goody-subtitle {
        font-size: 24px;
    }

    .goody-font--140 {
        font-size: 90px;
    }

    .goody-hero-main p {
        font-size: 20px;
    }

    .goody-hero-main p {
        max-width: 620px;
    }

    .goody-hero__image--left {
        height: 370px;
    }

    .goody-hero__image--right {
        height: 470px;
    }

    .goody-opening {
        padding: 150px 0;
    }

    .goody-story__layout {
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
    }

    .goody-story__image {
        width: 430px;
        height: 430px;
    }

    .goody-story__images {
        margin: 0 auto;
    }

    .goody-story__image1 {
        top: 60px;
    }

    .goody-story {
        padding: 140px 0;
    }

    .goody-marquee-item img {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .goody-media {
        padding: 140px 0;
    }

    .goody-section-content--media p {
        max-width: 800px;
    }

    .goody-btns {
        gap: 32px;
    }

    .goody-serve__image--left {
        left: -330px;
        height: 400px;
    }

    .goody-serve__image--right {
        right: -150px;
        height: 300px;
    }

    .goody-serve {
        padding: 140px 0;
    }

    .goody-section-content--serve p {
        max-width: 550px;
    }

    .goody-footer__logo {
        height: 140px;
    }

    .goody-footer {
        padding-top: 200px;
    }

    .goody-section-content--cooking p {
        max-width: 700px;
    }
}

@media (max-width: 991.98px) {
    .goody-font--140 {
        font-size: 82px;
    }

    .goody-font--20 {
        line-height: 1.4;
    }

    .goody-hero__image--left {
        height: 320px;
    }

    .goody-hero__image--right {
        height: 420px;
        right: -220px;
    }

    .goody-hero__logo {
        height: 130px;
    }

    .goody-food-card__image {
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
    }

    .goody-marquee-item {
        width: 332px;
        height: 227px;
    }

    .goody-media h2 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .goody-youtube-play-btn {
        width: 80px;
        height: 80px;
    }

    .goody-youtube-play-btn svg {
        width: 60px;
        height: 60px;
    }

    .goody-serve__image--left {
        height: 330px;
    }

    .goody-serve__image--right {
        right: -150px;
        height: 230px;
    }

    .goody-footer__logo {
        height: 130px;
    }

    .goody-header .navbar {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .goody-header .navbar-nav {
        padding-top: 30px;
        margin-bottom: 0 !important;
    }

    .goody-header .goody-btn {
        margin-top: 30px;
    }

    .goody-header .nav-link {
        display: flex;
        width: fit-content;
    }

    .goody-hero-main {
        padding-top: 60px;
    }

    .goody-footer__bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }
}

@media (max-width: 767.98px) {
    .goody-cards-grid {
        --bs-gutter-x: 0;
    }

    .goody-hero__logo {
        height: 100px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 40px;
        line-height: 1;
    }

    .goody-subtitle {
        font-size: 20px;
        line-height: 1.2;
    }

    .goody-font--140 {
        font-size: 48px;
    }

    .goody-btns {
        flex-direction: column;
        gap: 16px;
    }

    .goody-hero h1 {
        margin-top: 16px;
    }

    .goody-section-content h2 {
        margin-top: 16px;
    }

    .goody-section-content p {
        margin-top: 10px;
    }

    .goody-footer__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .goody-footer__contact-items {
        flex-direction: column;
    }

    .goody-opening {
        padding: 120px 0;
    }

    .goody-story {
        padding: 110px 0;
    }

    .goody-story__image {
        width: 250px;
        height: 250px;
    }

    .goody-story__images {
        height: 410px;
    }

    .goody-story__image1 {
        top: 0;
        left: 20px;
    }

    .goody-story__image2 {
        top: 150px;
        right: 20px;
    }

    .goody-story__layout {
        gap: 60px;
    }

    .goody-story__image {
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
    }

    .goody-marquee-item {
        width: 268px;
        height: 184px;
    }

    .goody-marquee-track,
    .goody-marquee-area {
        gap: 20px;
    }

    .goody-media {
        padding: 110px 0;
    }

    .goody-youtube-video {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .goody-youtube-play-btn {
        width: 60px;
        height: 60px;
    }

    .goody-youtube-play-btn svg {
        width: 40px;
        height: 40px;
    }

    .goody-youtube-video {
        margin-top: 50px;
    }

    .goody-section-content__list-item {
        padding: 16px 30px;
        line-height: 1.4;
    }

    .goody-btn {
        min-width: 230px;
    }

    .goody-visit__layout {
        gap: 60px;
    }

    .goody-visit {
        padding-top: 90px;
        padding-bottom: 0;
    }

    .goody-serve__image {
        display: none;
    }

    .goody-serve {
        padding: 110px 0;
    }

    .goody-serve h2 {
        padding: 0 30px;
    }

    .goody-footer__logo {
        width: 155px;
        height: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .goody-footer__content {
        text-align: left;
    }

    .goody-font--20 {
        font-size: 18px;
        line-height: 1.4;
    }

    .goody-footer__contact-items {
        align-items: flex-start;
    }

    .goody-footer__items {
        gap: 40px;
    }

    .goody-header .navbar-brand {
        width: 72px;
        height: 46px;
    }

    .navbar-toggler {
        padding: 4px 6px;
    }

    .goody-header .navbar {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .goody-header .navbar {
        padding: 12px 12px;
    }

    .goody-header .navbar-nav {
        gap: 20px;
    }

    .goody-hero {
        padding-top: 98px;
    }
}
